In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv(r"E:\career fair\imdb\IMDB_Movies.csv")
data.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [3]:
data.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      5024 non-null   object
 1   director_name              4939 non-null   object
 2   num_critic_for_reviews     4993 non-null   float64
 3   duration                   5028 non-null   float64
 4   director_facebook_likes    4939 non-null   float64
 5   actor_3_facebook_likes     5020 non-null   float64
 6   actor_2_name               5030 non-null   object
 7   actor_1_facebook_likes     5036 non-null   float64
 8   gross                      4159 non-null   float64
 9   genres                     5043 non-null   object
 10  actor_1_name               5036 non-null   object
 11  movie_title                5043 non-null   object
 12  num_voted_users            5043 non-null   int64
 13  cast_total_facebook_likes  5043 non-null   int64
 14  actor_3_name               5020 non-null   object
 15  facenumber_in_poster       5030 non-null   float64
 16  plot_keywords              4890 non-null   object
 17  movie_imdb_link            5043 non-null   object
 18  num_user_for_reviews       5023 non-null   object
 19  language                   5031 non-null   object
 20  country                    5038 non-null   object
 21  content_rating             4740 non-null   object
 22  budget                     4551 non-null   float64
 23  title_year                 4935 non-null   float64
 24  actor_2_facebook_likes     5030 non-null   float64
 25  imdb_score                 5043 non-null   float64
 26  aspect_ratio               4714 non-null   float64
 27  movie_facebook_likes       5043 non-null   int64
dtypes: float64(12), int64(3), object(13)
memory usage: 1.1+ MB

In [5]:
data.isnull().sum()

color                         19
director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          20
language                      12
country                        5
content_rating               303
budget                       492
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

In [6]:
lis=[]
for i in data.columns:
    k=data[i].value_counts()
    lis.append(k)
#     print("*******************************************")
print(lis)

[Color               4815
 Black and White     209
Name: color, dtype: int64, Steven Spielberg    26
Woody Allen         22
Clint Eastwood      20
Martin Scorsese     20
Ridley Scott        17
                    ..
John Crowley         1
Rob Pritts           1
David S. Ward        1
R.J. Cutler          1
Daniel Hsia          1
Name: director_name, Length: 2398, dtype: int64, 1.0      43
9.0      37
5.0      36
10.0     35
8.0      35
         ..
738.0     1
476.0     1
775.0     1
552.0     1
409.0     1
Name: num_critic_for_reviews, Length: 528, dtype: int64, 90.0     161
100.0    141
101.0    139
98.0     135
97.0     131
        ...
236.0      1
334.0      1
270.0      1
227.0      1
47.0       1
Name: duration, Length: 191, dtype: int64, 0.0      907
3.0       70
6.0       66
7.0       64
2.0       63
        ...
593.0      1
434.0      1
482.0      1
667.0      1
291.0      1
Name: director_facebook_likes, Length: 435, dtype: int64, 1000.0     126
0.0         89
11000.0     29
3.0         28
2000.0      27
          ...
867.0        1
974.0        1
369.0        1
607.0        1
156.0        1
Name: actor_3_facebook_likes, Length: 906, dtype: int64, Morgan Freeman          20
Charlize Theron         15
Brad Pitt               14
James Franco            11
Meryl Streep            11
                        ..
Joaquim de Almeida       1
SimÃ³n Andreu             1
Nora von WaldstÃ¤tten     1
Mackenzie Gray           1
Brian Herzlinger         1
Name: actor_2_name, Length: 3032, dtype: int64, 1000.0     449
11000.0    211
2000.0     197
3000.0     155
12000.0    135
          ...
274.0        1
175.0        1
961.0        1
230.0        1
291.0        1
Name: actor_1_facebook_likes, Length: 878, dtype: int64, 47000000.0     3
34964818.0     3
5773519.0      3
3000000.0      3
177343675.0    3
              ..
39026186.0     1
33422806.0     1
33423521.0     1
32519322.0     1
85222.0        1
Name: gross, Length: 4035, dtype: int64, Drama                                         236
Comedy                                        209
Comedy|Drama                                  191
Comedy|Drama|Romance                          187
Comedy|Romance                                158
                                             ...
Crime|Drama|Mystery|Sci-Fi|Thriller             1
Adventure|Comedy|Crime|Drama                    1
Action|Crime|Drama|Mystery|Sci-Fi|Thriller      1
Action|Drama|Fantasy|Horror|Thriller            1
Comedy|Crime|Horror                             1
Name: genres, Length: 914, dtype: int64, Robert De Niro        49
Johnny Depp           41
Nicolas Cage          33
J.K. Simmons          31
Bruce Willis          30
                      ..
Emmanuelle Seigner     1
Thomas McDonell        1
Monica Potter          1
Linda Blair            1
John August            1
Name: actor_1_name, Length: 2097, dtype: int64, Ben-HurÂ                 3
HomeÂ                    3
PanÂ                     3
King KongÂ               3
HalloweenÂ               3
                       ..
SpliceÂ                  1
The Whole Ten YardsÂ     1
North CountryÂ           1
88 MinutesÂ              1
My Date with DrewÂ       1
Name: movie_title, Length: 4917, dtype: int64, 57        5
6         4
3119      3
38        3
53        3
         ..
34910     1
188785    1
25484     1
39306     1
4285      1
Name: num_voted_users, Length: 4826, dtype: int64, 0         33
5          7
2020       6
2          6
673        5
          ..
16606      1
23328      1
656730     1
24783      1
2386       1
Name: cast_total_facebook_likes, Length: 3978, dtype: int64, John Heard        8
Steve Coogan      8
Ben Mendelsohn    8
Anne Hathaway     7
Robert Duvall     7
                 ..
Jay Mohr          1
Mike White        1
Ski Carr          1
Melissa Ordway    1
Jon Gunn          1
Name: actor_3_name, Length: 3521, dtype: int64, 0.0     2152
1.0     1251
2.0      716
3.0      380
4.0      207
5.0      114
6.0       76
7.0       48
8.0       37
9.0       18
10.0      10
15.0       6
11.0       5
12.0       4
13.0       2
31.0       1
14.0       1
19.0       1
43.0       1
Name: facenumber_in_poster, dtype: int64, based on novel                                                                        4
eighteen wheeler|illegal street racing|truck|trucker|undercover cop                   3
one word title                                                                        3
assistant|experiment|frankenstein|medical student|scientist                           3
animal name in title|ape abducts a woman|gorilla|island|king kong                     3
                                                                                     ..
dance|dance crew|dancer|mortgage|new york city                                        1
africa|eyeglasses|money|texas|veteran                                                 1
hit by a pickup truck|immortality|paramedic|resuscitation|san francisco california    1
evil|fight|hell|psychic|psychologist                                                  1
actress name in title|crush|date|four word title|video camera                         1
Name: plot_keywords, Length: 4760, dtype: int64, http://www.imdb.com/title/tt0232500/?ref_=fn_tt_tt_1    3
http://www.imdb.com/title/tt2638144/?ref_=fn_tt_tt_1    3
http://www.imdb.com/title/tt3332064/?ref_=fn_tt_tt_1    3
http://www.imdb.com/title/tt0360717/?ref_=fn_tt_tt_1    3
http://www.imdb.com/title/tt2224026/?ref_=fn_tt_tt_1    3
                                                       ..
http://www.imdb.com/title/tt0327247/?ref_=fn_tt_tt_1    1
http://www.imdb.com/title/tt0395972/?ref_=fn_tt_tt_1    1
http://www.imdb.com/title/tt0411061/?ref_=fn_tt_tt_1    1
http://www.imdb.com/title/tt0758752/?ref_=fn_tt_tt_1    1
http://www.imdb.com/title/tt0378407/?ref_=fn_tt_tt_1    1
Name: movie_imdb_link, Length: 4919, dtype: int64, 1       51
3       33
2       32
26      32
10      29
        ..
1344     1
1401     1
1206     1
856      1
586      1
Name: num_user_for_reviews, Length: 955, dtype: int64, English       4704
French          73
Spanish         40
Hindi           28
Mandarin        26
German          19
Japanese        18
Cantonese       11
Russian         11
Italian         11
Portuguese       8
Korean           8
Arabic           5
Danish           5
Hebrew           5
Swedish          5
Polish           4
Norwegian        4
Persian          4
Dutch            4
Thai             3
Chinese          3
Icelandic        2
None             2
Indonesian       2
Aboriginal       2
Romanian         2
Dari             2
Zulu             2
Panjabi          1
Urdu             1
Vietnamese       1
Slovenian        1
Greek            1
Dzongkha         1
Tamil            1
Telugu           1
Kannada          1
Czech            1
Hungarian        1
Bosnian          1
Filipino         1
Mongolian        1
Maya             1
Aramaic          1
Kazakh           1
Swahili          1
Name: language, dtype: int64, USA              3807
UK                448
France            154
Canada            126
Germany            97
                 ...
Slovakia            1
Chile               1
Cambodia            1
Official site       1
Philippines         1
Name: country, Length: 65, dtype: int64, R            2118
PG-13        1461
PG            701
Not Rated     116
G             112
Unrated        62
Approved       55
TV-14          30
TV-MA          20
TV-PG          13
X              13
TV-G           10
Passed          9
NC-17           7
GP              6
M               5
TV-Y            1
TV-Y7           1
Name: content_rating, dtype: int64, 20000000.0    174
15000000.0    143
25000000.0    142
30000000.0    141
10000000.0    135
             ...
10818775.0      1
13800000.0      1
12305523.0      1
12600000.0      1
1100.0          1
Name: budget, Length: 439, dtype: int64, 2009.0    260
2014.0    252
2006.0    239
2013.0    237
2010.0    230
         ...
1932.0      1
1916.0      1
1934.0      1
1925.0      1
1920.0      1
Name: title_year, Length: 91, dtype: int64, 1000.0     309
11000.0    111
2000.0     100
3000.0      76
0.0         55
          ...
964.0        1
179.0        1
355.0        1
556.0        1
470.0        1
Name: actor_2_facebook_likes, Length: 917, dtype: int64, 6.7    223
6.6    201
7.2    195
6.5    186
6.4    185
      ...
9.5      1
1.6      1
9.3      1
1.7      1
9.2      1
Name: imdb_score, Length: 78, dtype: int64, 2.35     2360
1.85     1906
1.78      110
1.37      100
1.33       68
1.66       64
16.00      45
2.39       15
2.20       15
4.00        7
2.00        5
2.40        3
2.76        3
1.75        3
1.50        2
2.55        2
2.24        1
1.77        1
1.18        1
1.44        1
1.20        1
1.89        1
Name: aspect_ratio, dtype: int64, 0        2181
1000      109
11000      83
10000      81
12000      62
         ...
492         1
487         1
300         1
814         1
20          1
Name: movie_facebook_likes, Length: 876, dtype: int64]

In [7]:
D=['color','language','country','title_year','genres','aspect_ratio']
for i in D:
    k=data[i].value_counts()
    print("name of the columns",i)
    print(k)
    print("*******************************************")

name of the columns color
Color               4815
 Black and White     209
Name: color, dtype: int64
*******************************************
name of the columns language
English       4704
French          73
Spanish         40
Hindi           28
Mandarin        26
German          19
Japanese        18
Cantonese       11
Russian         11
Italian         11
Portuguese       8
Korean           8
Arabic           5
Danish           5
Hebrew           5
Swedish          5
Polish           4
Norwegian        4
Persian          4
Dutch            4
Thai             3
Chinese          3
Icelandic        2
None             2
Indonesian       2
Aboriginal       2
Romanian         2
Dari             2
Zulu             2
Panjabi          1
Urdu             1
Vietnamese       1
Slovenian        1
Greek            1
Dzongkha         1
Tamil            1
Telugu           1
Kannada          1
Czech            1
Hungarian        1
Bosnian          1
Filipino         1
Mongolian        1
Maya             1
Aramaic          1
Kazakh           1
Swahili          1
Name: language, dtype: int64
*******************************************
name of the columns country
USA              3807
UK                448
France            154
Canada            126
Germany            97
                 ...
Slovakia            1
Chile               1
Cambodia            1
Official site       1
Philippines         1
Name: country, Length: 65, dtype: int64
*******************************************
name of the columns title_year
2009.0    260
2014.0    252
2006.0    239
2013.0    237
2010.0    230
         ...
1932.0      1
1916.0      1
1934.0      1
1925.0      1
1920.0      1
Name: title_year, Length: 91, dtype: int64
*******************************************
name of the columns genres
Drama                                         236
Comedy                                        209
Comedy|Drama                                  191
Comedy|Drama|Romance                          187
Comedy|Romance                                158
                                             ...
Crime|Drama|Mystery|Sci-Fi|Thriller             1
Adventure|Comedy|Crime|Drama                    1
Action|Crime|Drama|Mystery|Sci-Fi|Thriller      1
Action|Drama|Fantasy|Horror|Thriller            1
Comedy|Crime|Horror                             1
Name: genres, Length: 914, dtype: int64
*******************************************
name of the columns aspect_ratio
2.35     2360
1.85     1906
1.78      110
1.37      100
1.33       68
1.66       64
16.00      45
2.39       15
2.20       15
4.00        7
2.00        5
2.40        3
2.76        3
1.75        3
1.50        2
2.55        2
2.24        1
1.77        1
1.18        1
1.44        1
1.20        1
1.89        1
Name: aspect_ratio, dtype: int64
*******************************************

In [8]:
imdb_data=data[['director_name','duration','actor_1_name','actor_2_name','actor_3_name','num_voted_users','gross','genres','movie_title','language','country','budget','title_year','imdb_score','movie_facebook_likes']]

In [9]:
imdb_data.head()

,director_name,duration,actor_1_name,actor_2_name,actor_3_name,num_voted_users,gross,genres,movie_title,language,country,budget,title_year,imdb_score,movie_facebook_likes
0,James Cameron,178.0,CCH Pounder,Joel David Moore,Wes Studi,886204,760505847.0,Action|Adventure|Fantasy|Sci-Fi,Avatar,English,USA,237000000.0,2009.0,7.9,33000
1,Gore Verbinski,169.0,Johnny Depp,Orlando Bloom,Jack Davenport,471220,309404152.0,Action|Adventure|Fantasy,Pirates of the Caribbean: At World's End,English,USA,300000000.0,2007.0,7.1,0
2,Sam Mendes,148.0,Christoph Waltz,Rory Kinnear,Stephanie Sigman,275868,200074175.0,Action|Adventure|Thriller,Spectre,English,UK,245000000.0,2015.0,6.8,85000
3,Christopher Nolan,164.0,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,1144337,448130642.0,Action|Thriller,The Dark Knight Rises,English,USA,250000000.0,2012.0,8.5,164000
4,Doug Walker,NaN,Doug Walker,Rob Walker,NaN,8,NaN,Documentary,Star Wars: Episode VII - The Force AwakensÂ ...,NaN,NaN,NaN,NaN,7.1,0

In [10]:
imdb_data.isnull().sum()

director_name           104
duration                 15
actor_1_name              7
actor_2_name             13
actor_3_name             23
num_voted_users           0
gross                   884
genres                    0
movie_title               0
language                 12
country                   5
budget                  492
title_year              108
imdb_score                0
movie_facebook_likes      0
dtype: int64

In [11]:
d=imdb_data[imdb_data['director_name'].isnull()]
imdb_data.drop(d.index,inplace=True)

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_16432\3285839029.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imdb_data.drop(d.index,inplace=True)

In [12]:
imdb_data.isnull().sum()

director_name             0
duration                 13
actor_1_name              7
actor_2_name             11
actor_3_name             20
num_voted_users           0
gross                   783
genres                    0
movie_title               0
language                 11
country                   3
budget                  396
title_year                4
imdb_score                0
movie_facebook_likes      0
dtype: int64

In [13]:
imdb_data[imdb_data['language'].isnull()]

,director_name,duration,actor_1_name,actor_2_name,actor_3_name,num_voted_users,gross,genres,movie_title,language,country,budget,title_year,imdb_score,movie_facebook_likes
4,Doug Walker,NaN,Doug Walker,Rob Walker,NaN,8,NaN,Documentary,Star Wars: Episode VII - The Force AwakensÂ ...,NaN,NaN,NaN,NaN,7.1,0
279,Christopher Barnard,22.0,Mathew Buck,NaN,NaN,6,NaN,Comedy,"10,000 B.C.",NaN,NaN,NaN,NaN,7.2,0
3086,Christopher Cain,111.0,Jon Gries,Taylor Handley,Trent Ford,2618,1066555.0,Drama|History|Romance|Western,September Dawn,NaN,USA,11000000.0,2007.0,5.8,411
3539,Richard Rich,45.0,Debi Derryberry,Kate Higgins,Cindy Robinson,192,NaN,Action|Adventure|Animation|Comedy|Drama|Family...,Alpha and Omega 4: The Legend of the Saw Tooth...,NaN,USA,7000000.0,2014.0,6.0,41
3869,Mel Brooks,87.0,Sid Caesar,Dom DeLuise,Bernadette Peters,12666,NaN,Comedy|Romance,Silent Movie,NaN,USA,4400000.0,1976.0,6.7,629
4110,Michael Landon Jr.,87.0,William Morgan Sheppard,Kevin Gage,Brianna Brown,1289,252726.0,Drama|Family|Western,Love's Abiding Joy,NaN,USA,3000000.0,2006.0,7.2,76
4409,John Stockwell,90.0,Matthew Ziff,T.J. Storm,Sam Medina,246,NaN,Action,Kickboxer: Vengeance,NaN,USA,17000000.0,2016.0,9.1,0
4630,Jonathan Meyers,111.0,Justin Baldoni,Luke Perry,Leonor Varela,207,NaN,Drama,A Fine Step,NaN,USA,1000000.0,2014.0,5.3,212
4810,D.W. Griffith,123.0,Lillian Gish,Mae Marsh,Walter Long,10718,NaN,Drama|History|War,Intolerance: Love's Struggle Throughout the Ages,NaN,USA,385907.0,1916.0,8.0,691
4885,King Vidor,151.0,John Gilbert,RenÃ©e AdorÃ©e,Claire Adams,4849,NaN,Drama|Romance|War,The Big Parade,NaN,USA,245000.0,1925.0,8.3,226
4958,Harry F. Millarde,110.0,Stephen Carr,Johnnie Walker,Mary Carr,5,3000000.0,Crime|Drama,Over the Hill to the Poorhouse,NaN,USA,100000.0,1920.0,4.8,0

In [14]:
d=imdb_data[imdb_data['language'].isnull()]
k=d['director_name'].unique()
for i in k:
    kd=imdb_data[(imdb_data['director_name']==i)]['language']
    print(kd)

4    NaN
Name: language, dtype: object
279    NaN
Name: language, dtype: object
2842    English
3086        NaN
Name: language, dtype: object
3539    NaN
Name: language, dtype: object
2079    English
3041    English
3869        NaN
4023    English
4158    English
4168    English
4573    English
Name: language, dtype: object
4110        NaN
4230    English
Name: language, dtype: object
1015    English
1650    English
2862    English
4409        NaN
Name: language, dtype: object
4630    NaN
Name: language, dtype: object
4810    NaN
Name: language, dtype: object
3596    English
3752    English
4885        NaN
Name: language, dtype: object
4958    NaN
Name: language, dtype: object

In [15]:
imdb_data.loc[imdb_data['language'].isnull(),'language']='English'

In [16]:
imdb_data['language'].unique()

array(['English', 'Japanese', 'French', 'Mandarin', 'Aboriginal',
       'Spanish', 'Filipino', 'Hindi', 'Russian', 'Maya', 'Kazakh',
       'Telugu', 'Cantonese', 'German', 'Aramaic', 'Italian', 'Dutch',
       'Dari', 'Hebrew', 'Chinese', 'Mongolian', 'Swedish', 'Korean',
       'Thai', 'Bosnian', 'None', 'Hungarian', 'Portuguese', 'Icelandic',
       'Danish', 'Arabic', 'Norwegian', 'Czech', 'Kannada', 'Zulu',
       'Panjabi', 'Polish', 'Tamil', 'Dzongkha', 'Vietnamese',
       'Indonesian', 'Urdu', 'Romanian', 'Persian', 'Slovenian', 'Greek',
       'Swahili'], dtype=object)

In [17]:
imdb_data.isnull().sum()

director_name             0
duration                 13
actor_1_name              7
actor_2_name             11
actor_3_name             20
num_voted_users           0
gross                   783
genres                    0
movie_title               0
language                  0
country                   3
budget                  396
title_year                4
imdb_score                0
movie_facebook_likes      0
dtype: int64

In [18]:
d=imdb_data[imdb_data['country'].isnull()].head(2)
imdb_data.drop(d.index,inplace=True)

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_16432\3191370105.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imdb_data.drop(d.index,inplace=True)

In [19]:
imdb_data['country'].unique()

array(['USA', 'UK', 'New Zealand', 'Canada', 'Australia', 'Belgium',
       'Japan', 'Germany', 'China', 'France', 'New Line', 'Mexico',
       'Spain', 'Hong Kong', 'Czech Republic', 'India', 'Soviet Union',
       'South Korea', 'Peru', 'Italy', 'Russia', 'Aruba', 'Denmark',
       'Libya', 'Ireland', 'South Africa', 'Switzerland', 'Romania',
       'West Germany', 'Chile', 'Netherlands', 'Hungary', 'Panama',
       'Greece', 'Sweden', 'Taiwan', 'Official site', 'Cambodia',
       'Thailand', 'Slovakia', 'Bulgaria', 'Iran', 'Georgia', 'Iceland',
       'Norway', 'Turkey', 'Nigeria', 'Brazil', 'Finland', 'Bahamas',
       'Argentina', nan, 'Colombia', 'Poland', 'Israel', 'Egypt',
       'Kyrgyzstan', 'Indonesia', 'Pakistan', 'Slovenia', 'Afghanistan',
       'Dominican Republic', 'Cameroon', 'United Arab Emirates', 'Kenya',
       'Philippines'], dtype=object)

In [20]:
imdb_data[imdb_data['country'].isnull()]

,director_name,duration,actor_1_name,actor_2_name,actor_3_name,num_voted_users,gross,genres,movie_title,language,country,budget,title_year,imdb_score,movie_facebook_likes
4021,Daniel Petrie Jr.,88.0,Chris Brochu,Jeff Fahey,Rita Wilson,455,NaN,Drama|Thriller,Dawn Patrol,English,NaN,3500000.0,2014.0,4.8,570

In [21]:
imdb_data.loc[imdb_data['country'].isnull(),'country']='USA'

In [22]:
imdb_data.shape

(4937, 15)

In [23]:
d=imdb_data[imdb_data['actor_1_name'].isnull()]
imdb_data.drop(d.index,inplace=True)

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_16432\3356613678.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imdb_data.drop(d.index,inplace=True)

In [24]:
imdb_data.drop(columns=['actor_2_name','actor_3_name'],inplace=True)

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_16432\2568737565.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imdb_data.drop(columns=['actor_2_name','actor_3_name'],inplace=True)

In [25]:
imdb_data.isnull().sum()

director_name             0
duration                 12
actor_1_name              0
num_voted_users           0
gross                   778
genres                    0
movie_title               0
language                  0
country                   0
budget                  393
title_year                2
imdb_score                0
movie_facebook_likes      0
dtype: int64

In [26]:
d=imdb_data[imdb_data['gross'].isnull()]

In [27]:
for i,j,k in zip(imdb_data.loc[(imdb_data['gross'].isnull()==True)]['director_name'],imdb_data.loc[(imdb_data['gross'].isnull()==True)]['language'],imdb_data.loc[(imdb_data['gross'].isnull()==True)]['country']):
    if len(imdb_data.loc[(imdb_data['director_name'] == i)&(imdb_data['language'] == j)&(imdb_data['country'] == k)]['gross'].value_counts())!=0:
        mean=imdb_data.loc[(imdb_data['director_name'] == i)&(imdb_data['language'] == j)&(imdb_data['country'] == k)]['gross'].mean()
        imdb_data.loc[(imdb_data['gross'].isnull()==True)&(imdb_data['director_name'] == i)&(imdb_data['language'] == j)&(imdb_data['country'] == k)]['gross']
    else:
        print('empty')

empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty

In [28]:
for j,k in zip(imdb_data.loc[(imdb_data['gross'].isnull()==True)]['language'],imdb_data.loc[(imdb_data['gross'].isnull()==True)]['country']):
    if len(imdb_data.loc[(imdb_data['language'] == j)&(imdb_data['country'] == k)]['gross'].value_counts())!=0:
        mean=imdb_data.loc[(imdb_data['language'] == j)&(imdb_data['country'] == k)]['gross'].mean()
        imdb_data.loc[(imdb_data['gross'].isnull()==True)&(imdb_data['language'] == j)&(imdb_data['country'] == k)]['gross']
    else:
        print('empty')

empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty

In [29]:
mean=imdb_data['gross'].mean()
imdb_data.loc[imdb_data['gross'].isnull(),'gross']=mean

In [30]:
for i,j,k in zip(imdb_data.loc[(imdb_data['budget'].isnull()==True)]['director_name'],imdb_data.loc[(imdb_data['budget'].isnull()==True)]['language'],imdb_data.loc[(imdb_data['budget'].isnull()==True)]['country']):
    if len(imdb_data.loc[(imdb_data['director_name'] == i)&(imdb_data['language'] == j)&(imdb_data['country'] == k)]['budget'].value_counts())!=0:
        mean=imdb_data.loc[(imdb_data['director_name'] == i)&(imdb_data['language'] == j)&(imdb_data['country'] == k)]['budget'].mean()
        imdb_data.loc[(imdb_data['budget'].isnull()==True)&(imdb_data['director_name'] == i)&(imdb_data['language'] == j)&(imdb_data['country'] == k)]['budget']
    else:
        print('empty')

empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty

In [31]:
for j,k in zip(imdb_data.loc[(imdb_data['budget'].isnull()==True)]['language'],imdb_data.loc[(imdb_data['budget'].isnull()==True)]['country']):
    if len(imdb_data.loc[(imdb_data['language'] == j)&(imdb_data['country'] == k)]['budget'].value_counts())!=0:
        mean=imdb_data.loc[(imdb_data['language'] == j)&(imdb_data['country'] == k)]['gross'].mean()
        imdb_data.loc[(imdb_data['budget'].isnull()==True)&(imdb_data['language'] == j)&(imdb_data['country'] == k)]['budget']
    else:
        print('empty')

empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty
empty

In [32]:
mean=imdb_data['budget'].mean()
mean
imdb_data.loc[imdb_data['budget'].isnull(),'budget']=mean

In [33]:
imdb_data.isnull().sum()

director_name            0
duration                12
actor_1_name             0
num_voted_users          0
gross                    0
genres                   0
movie_title              0
language                 0
country                  0
budget                   0
title_year               2
imdb_score               0
movie_facebook_likes     0
dtype: int64

In [34]:
mean=imdb_data['title_year'].median()
mean
imdb_data.loc[imdb_data['title_year'].isnull(),'title_year']=mean

In [35]:
mean=imdb_data['duration'].mean()
mean
imdb_data.loc[imdb_data['duration'].isnull(),'duration']=mean

In [36]:
imdb_data['genres'] = imdb_data['genres'].str.split('|')

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_16432\2941620849.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imdb_data['genres'] = imdb_data['genres'].str.split('|')

In [37]:
imdb_data=imdb_data.explode('genres')

In [41]:
imdb_data.to_excel('imdb_excel.xlsx',index=False)